.mensajeUsuarios p{
    font-size: 2em;
}
.mensajeUsuarios a{
    text-decoration: underline;
    
}
.mensajeUsuarios{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table{
    width: 100%;
    border-collapse: collapse;
    border:black 1px solid;
}

input{
    background-color: rgba(255, 255, 255, 0);
    border: 0ch black;
    font-weight: bold;
    cursor: pointer;
}

td
{
    border: 3px #d8923b solid;
    padding-left: 5px;
}
.email{
    font-size: 1em;
}

.delete{
    color: red;
    
}

.documentList{
    display: flex;
    flex-direction: column;
}

.msg{
    font-size: 1em;
}



.datosUsuario{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.datosUsuario p{
    padding-left: 1rem;
    font-size: 1em;
}

.imgTabla{
    width: 2rem;
    height: 2rem;
}

table caption{
    font-size: 2em;
}

.contieneDatos p{
    font-size: 1em;
}

.imgUser{
    width: 1rem;
}

.contieneDatos{
    width: 100%;
}


.links{
    display: flex;
    flex-direction: row;
}