
.contactForm{

    display: flex;
    width: 70%;
    height: 700px;
    background: rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  
  p{
    font-size: 24px;
    opacity: 100%;
  }
  
  .material-icons.md-48{
    color: #D8923B;
    font-size: 30px;
  }
  .txtCorreo{
    width: 49%;
  }
  .formData{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  label{
    padding-left: 40px;
    font-size: 22px;
  }
  
  .form-error{
    font-size: 0.75rem;
    padding-left: 40px;
    font-weight: bold;
    color: red;
  }
  .txtInput{
    height: 20px;
    width: 100%;  
    border: 1px black solid;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
  }
  
  select{
    height: 20px;
    width: 13rem;  
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
  }

  .txtInputArea{
    font-size: 16px;
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .btnSubmit{
    width: 45%;
    height: 40px;
    background-color: #D8923B;
  }
  
  .buttonHolder{
    width: 100%;
    text-align: center;
  }
  
  .backbutton{
    width: 90%;
    height: 50px;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  
  .btnBack{
    background-color: #D8923B;
    font-size: 20px;
    height: 100%;
    width: 100%;
  }
  .alert{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 18%;
    background-color: rgba(116, 222, 95, .6);
    border: #ffffff 1px solid;

  }

  
  .loginForm{
    display: flex;
    width: 70%;
    height: 320px;
    background: rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }