* {
    box-sizing: border-box;
}


header {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: url("../images/texture.png"), #545352;
    background-blend-mode: multiply;
	margin-bottom:0px;
	text-align:center;
}
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:50%; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
header .logo {
    line-height:250px;
    place-content: center;
  }

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.back{
    padding-left: 10px;
    color: white;
    text-decoration: underline;
}

aside img{
    width:11.9rem;
    
}


.cerrar{
    color: red;
}


aside {
    background-color: rgba(255, 255, 255, 0.7);
    flex: 30px;
    width: 100%;
    height: fit-content;
    padding: 30px;
    
}

input{
    border: 1px black solid;
}

section {
    flex:55%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
section2 {
    flex:100%;
    padding: 20px;
}
