* {
    box-sizing: border-box;
}


header {
    padding-bottom: 30px;
    width: 2rem;

}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

aside img{
    width:11.9rem;
    
}


.cerrar{
    color: red;
}


aside {
    background-color: rgba(255, 255, 255, 0.7);
    flex: 30px;
    width: 100%;
    height: fit-content;
    padding: 30px;
    
}

input{
    border: 1px black solid;
}

section {
    flex:55%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
section2 {
    flex:100%;
    padding: 20px;
}