header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: #545352;
  
}

.wrapper {
	width:100%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
  
}

header .logo {
  line-height:250px;
  float:left;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
  font-family: 'Cormorant', serif;
}

header nav a:hover {
	background:#D8923B;
	border-radius:50px;
}

.header2 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
	height:100px;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}

@media screen and (max-width: 950px) {
	header .logo{
    float: left;
    padding: 10px;
  }
	header nav {
		width:40%;
		text-align:center; /*Aqui se centra el logo y menu*/
		line-height:50px;
	}

	.header2 {
		height:fit-content;
	}

	.header2 nav {
		line-height:30px;
	}
  .header2 .logo{
    float: left;
    padding: 20px;
  }
  .content {
    width: 100%;
    height: 100%;
  }

  .palabra{
    display: none;
  }
  .imagenw{
    display: block;
  }
  .imagenwh{
    display: none;
  }
}

header, header nav, header nav .logo{
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  -ms-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
  }

a{
  text-decoration: none;
  color: inherit;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
}

.logo
  {
    width: 123px;
    height: 84px;
  }

 .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 40px;
    align-items: center;
}
footer{
    background-color: #545352;
    background-blend-mode: multiply;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding-top: 50px;
}

.footerright{
    padding-left: 12px;
    color:#f2f2f2;
  	font-size:20px;
    width: 50%;
    height: 100%;
    
}
.footerleft{
    padding-left: 12px;
    width: 50%;
    height: 100%;
    border-right: 1px solid #fff;
    color:#f2f2f2;
  	font-size:20px;
}
.palabra{
  padding-top: 4%;
  padding-left: 15%;
  font-size: 1em;
  color: #fff;
}